<!-- @dsCard group="Components" viewport="700x230" name="History" subtitle="Match-Verlauf rows" -->
<!DOCTYPE html><html><head><meta charset="utf-8">
<link rel="stylesheet" href="../../styles.css">
<script src="https://unpkg.com/react@18.3.1/umd/react.development.js" integrity="sha384-hD6/rw4ppMLGNu3tX5cjIb+uRZ7UkRJ6BPkLpg4hAu/6onKUg4lLsHAs9EBPT82L" crossorigin="anonymous"></script>
<script src="https://unpkg.com/react-dom@18.3.1/umd/react-dom.development.js" integrity="sha384-u6aeetuaXnQ38mYT8rp6sbXaQe3NL9t+IBXmnYxwkUI2Hw4bsp2Wvmx4yRQF1uAm" crossorigin="anonymous"></script>
<script src="https://unpkg.com/@babel/standalone@7.29.0/babel.min.js" integrity="sha384-m08KidiNqLdpJqLq95G/LEi8Qvjl/xUYll3QILypMoQ65QorJ9Lvtp2RXYGBFj1y" crossorigin="anonymous"></script>
<script src="../../_ds_bundle.js"></script>
<style>body{padding:16px;}</style>
</head><body><div id="root"></div>
<script type="text/babel">
const { HistoryRow } = window.NevermanDartsDesignSystem_61370c;
ReactDOM.createRoot(document.getElementById('root')).render(
  <ul style={{margin:0,padding:0,borderRadius:8,overflow:'hidden'}}>
    <HistoryRow date="12.07.2026" winnerName="Micha" otherNames={['Gast 1']} result="3:1" format="501 Double Out · First to 3 Sets" />
    <HistoryRow date="10.07.2026" winnerName="Sarah" otherNames={['Micha','Gast 1']} result="4 Legs" format="301 Single Out · First to 4 Legs" />
    <HistoryRow date="08.07.2026" winnerName="Micha" otherNames={['Sarah']} result="2:0" format="501 Double Out · First to 2 Legs" />
  </ul>
);
</script></body></html>